RewriteEngine on

ErrorDocument 401 /Survey
ErrorDocument 403 /Survey
ErrorDocument 404 /Survey
ErrorDocument 500 /Survey

DirectoryIndex /Survey [R=302]

RewriteRule ^$ /Survey [R=302]
RewriteRule ^[Ss]urvey$ /survey/survey.php [L]
RewriteRule ^[Aa]bout-[Uu]s$ /survey/about_us.php [L]
RewriteRule ^[Rr]esults$ /survey/results.php [L]